body {

    margin: 0;
    padding: 0;
    background-color: #f2f2f2; 
    box-sizing: border-box;
    color: #333;
}
.add_blocks{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 70vh;
}

.add_block{
    border-radius: 6px;
    /* background: linear-gradient(135deg, #43cea2, #185a9d); */
    height: 200px;
    width: 300px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.25);
    border-radius: 8px;
}