.contact_section{
    display: flex;
    justify-content: space-around;
}

.contact_section img{
    height: 400px;
    width: 400px;
}

.contact_input input{
    border: none;
    border: 1px solid #111;
    padding: 20px 10px;
    border-radius: 6px;
    margin: 0 0 15px 0;
    width: 300px;
    
}

.contact_section button{
    border: none;
    width: 321px;
    background: none;
    padding: 20px 10px;
    border-radius: 6px;
    background: #ff8000;
    color: #fff;
}

.pagination{
    display: flex;
    justify-content: center;
}

.pagination ul{
    display: flex;
}

.pagination ul li{
    list-style: none;
    border: 1px solid #111;
    margin: 0 5px 0 0;
}

.pagination button{
    border: none;
    background: none;
    background-color: #111;
    padding: 4px 10px;
    color: #fff;
    border-radius: 6px;
}