.contact-info{
    background-color:black ;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-family:  sans-serif;
    color: white;
    margin-top: 20px;
}
.contact{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
.contact-info-content-1{
    margin: 10px 32px;
}

.contact-info-content-1 li{
    text-decoration: none;
    list-style: none;
    padding: 5px;
    
}

.contact-info-content-1 ul{
    margin: 0;
}
.contact-info-content-2 li{
    float: left;
    text-decoration: none;
    list-style: none;
    padding: 10px;
}
