body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; 
    color: #333;
}

.Head-logo{
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

.container-interface{
    /* background-color: lightgray; */
    width:auto;
    background-image: cover;
    text-align: center;
    margin: 20px 0 10px;
}
.container-interface-img img{
    border-radius: 20px;
    margin: 0 32px;
}
.head-in-container{
    margin: 20px 32px ;
}

.card-container{
    margin: 0 32px;
}
.container{
    height: auto;
    /* background-color: lightgray; */
    width:auto;
    border-radius: 0px;
}

.container-search{
    margin: 0 32px;
    width: 100%;
}

.container-search input{
    border-width: 0;
    border-radius: 40px;
    width: 89%;
    border-color:none;
    padding: 10px 5px;
}
.container-search button{
    padding: 10px 15px;
    background-color: salmon;
    border-radius: 40px;
    border: none;
    color: white;
    cursor: pointer;
}
.container-search button:hover {
  background-color: #0056b3;
}
.card-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.card-container-1{
    /* height: 240px; */
    width: 100%;
    background-color: white;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
}

.card-container-1 img{
    border-radius: 10px;
    width: 90%;
    margin: 20px;
}

.owner-container{
    display: flex;
    height: auto;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
}
.owner-container button{
    /* height: 30px; */
    background-color: #ff774a;
    border-radius: 40px;
    border-width: 0;
padding: 15px 30px;
    /* width: 150px; */
    color: white;
    cursor: pointer;
    font-size: smaller;
}
.owner-container button:hover{
    background-color: #0056b3;
}
.owner{
    margin: 0 32px;
    align-items: center;
}
/* .contact-info{
    height: 225px;
    background-color:black ;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-family:  sans-serif;
    color: white;
}
.contact{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
.contact-info-content-1 li{
    text-decoration: none;
    list-style: none;
    padding: 5px;
}
.contact-info-content-2 li{
    float: left;
    text-decoration: none;
    list-style: none;
    padding: 10px;
} */
