.Head-logo{
    display: flex;
    justify-content: space-between;
    padding: 2px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding:px;
    margin: px;
}

.nav-bar-list ul{
    padding: 0 !important;
}

.nav-bar-list li{
    text-decoration: none;
    list-style-type: none;
    float: left;
    padding: 10px;
    font-size: large;
    font-family:  sans-serif;
}
li a{
    text-decoration: none;
    color: black;
}
li a:hover{
    color: red;
}
.container-interface{
    background-color: lightgray;
    width:auto;
    background-image: cover;
    text-align: center;
}
.container-interface-img img{
    margin-top: 25px;
    border-radius: 20px
}
.head-in-container{
    margin-left: 32px;
}
.container{
    height: auto;
    background-color: lightgray;
    width:auto;
    border-radius: 0px;
}
.container-search input{
    width: 87%;
    margin-left: 32px;
    height: 25px;
    border-width: 0;
    border-radius: 10px;
    border-color:none;
}
.container-search button{
    height: 30px;
    background-color: salmon;
    border-radius: 5px;
    border-width: 0;
    width: 100px;
    color: white;
    cursor: pointer;
}
.container-search button:hover {
  background-color: #0056b3;
}
.card-container{
    display: flex;
    justify-content: space-around;
}
.card-container-1{
    height: 240px;
    width: 380px;
    background-color: white;
    text-align: center;
    padding-top:15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
}
.card-container-2{
    height: 240px;
    width: 380px;
    background-color: white;
    text-align: center;
    padding-top:15px;
    border-radius: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.card-container-3{
    height: 240px;
    width: 380px;
    background-color: white;
    text-align: center;
    padding-top:15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
}
.card-container-1 img{
    border-radius: 30px;
    width: 340px;
}
.card-container-2 img{
    border-radius: 30px;
    width: 340px;
}
.card-container-3 img{
    border-radius: 30px;
    width: 340px;
}
.owner-container{
    display: flex;
    height: auto;
    background-color: white;
    width: 89%;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
.owner-container button{
    height: 30px;
    background-color: salmon;
    border-radius: 10px;
    border-width: 0;
    width: 150px;
    color: white;
    cursor: pointer;
    font-size: smaller;
}
.owner-container button:hover{
    background-color: #0056b3;
}
.owner{
    padding-left: 150px;
    align-items: center;
}
.contact-info{
    height: 225px;
    background-color:black ;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-family:  sans-serif;
    color: white;
}
.contact{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
.contact-info-content-1 li{
    text-decoration: none;
    list-style: none;
    padding: 5px;
}
.contact-info-content-2 li{
    float: left;
    text-decoration: none;
    list-style: none;
    padding: 10px;
}
